@mixin sunAndMoon($sun, $sunOpacity, $moon, $moonOpacity) {
  .weather-card {
    &__sun {
      display: $sun;
      opacity: $sunOpacity;
    }
    &__moon {
      display: $moon;
      opacity: $moonOpacity;
    }
  }
}

@mixin weatherCardBg {
  &__bg0 {
    background: $sky-gradient-00;
    @include sunAndMoon(none, null, block, 1);
  }
  &__bg1 {
    background: $sky-gradient-01;
    @include sunAndMoon(none, null, block, 1);
  }
  &__bg2 {
    background: $sky-gradient-02;
    @include sunAndMoon(none, null, block, 0.9);
  }
  &__bg3 {
    background: $sky-gradient-03;
    @include sunAndMoon(none, null, block, 0.7);
  }
  &__bg4 {
    background: $sky-gradient-04;
    @include sunAndMoon(none, null, block, 0.5);
  }
  &__bg5 {
    background: $sky-gradient-05;
    @include sunAndMoon(none, null, block, 0.2);
  }
  &__bg6 {
    background: $sky-gradient-06;
    @include sunAndMoon(none, null, none, null);
  }
  &__bg7 {
    background: $sky-gradient-07;
    @include sunAndMoon(block, 0.2, none, null);
  }
  &__bg8 {
    background: $sky-gradient-08;
    @include sunAndMoon(block, 0.7, none, null);
  }
  &__bg9 {
    background: $sky-gradient-09;
    @include sunAndMoon(block, 0.9, none, null);
  }
  &__bg10 {
    background: $sky-gradient-10;
    @include sunAndMoon(block, 1, none, null);
  }
  &__bg11 {
    background: $sky-gradient-11;
    @include sunAndMoon(block, 1, none, null);
  }

  &__bg12 {
    background: $sky-gradient-12;
    @include sunAndMoon(block, 1, none, null);
  }
  &__bg13 {
    background: $sky-gradient-12;
    @include sunAndMoon(block, 1, none, null);
  }
  &__bg14 {
    background: $sky-gradient-12;
    @include sunAndMoon(block, 1, none, null);
  }
  &__bg15 {
    background: $sky-gradient-15;
    @include sunAndMoon(block, 0.7, none, null);
  }
  &__bg16 {
    background: $sky-gradient-16;
    @include sunAndMoon(block, 0.5, none, null);
  }

  &__bg17 {
    background: $sky-gradient-17;
    @include sunAndMoon(block, 0.2, none, null);
  }
  &__bg18 {
    background: $sky-gradient-18;
    @include sunAndMoon(block, 0.1, none, null);
  }
  &__bg19 {
    background: $sky-gradient-19;
    @include sunAndMoon(none, null, none, null);
  }
  &__bg20 {
    background: $sky-gradient-19;
    @include sunAndMoon(none, null, block, 0.2);
  }
  &__bg21 {
    background: $sky-gradient-20;
    @include sunAndMoon(none, null, block, 0.5);
  }
  &__bg22 {
    background: $sky-gradient-22;
    @include sunAndMoon(none, null, block, 0.7);
  }
  &__bg23 {
    background: $sky-gradient-23;
    @include sunAndMoon(none, null, block, 0.9);
  }
}
