$border: 1px solid black;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

/* Gradients */
$sky-gradient-00: #00000c;
$sky-gradient-01: linear-gradient(to top, #020111 85%, #191621 100%);
$sky-gradient-02: linear-gradient(to top, #020111 60%, #20202c 100%);
$sky-gradient-03: linear-gradient(to top, #020111 10%, #3a3a52 100%);
$sky-gradient-04: linear-gradient(to top, #20202c 0%, #515175 100%);
$sky-gradient-05: linear-gradient(
  to top,
  #40405c 0%,
  #6f71aa 80%,
  #767bab 100%
);
$sky-gradient-06: linear-gradient(
  to top,
  #4a4969 0%,
  #7072ab 50%,
  #82b8cd 100%
);
$sky-gradient-07: linear-gradient(to top, #7072ab 0%, #82b8cd 100%);
$sky-gradient-08: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
$sky-gradient-09: linear-gradient(to bottom, #90dffe 0%, #38a3d1 80%);
$sky-gradient-10: linear-gradient(to bottom, #90dffe 0%, #38a3d1 60%);
$sky-gradient-11: linear-gradient(to bottom, #90dffe 0%, #38a3d1 40%);
$sky-gradient-12: linear-gradient(to top, #90dffe 0%, #38a3d1 0%);
$sky-gradient-15: linear-gradient(to top, #38a3d1 70%, #246fa8 100%);
$sky-gradient-16: linear-gradient(to top, #38a3d1 40%, #246fa8 100%);
$sky-gradient-17: linear-gradient(to top, #38a3d1 20%, #246fa8 100%);
$sky-gradient-18: linear-gradient(to top, #38a3d1 0%, #246fa8 50%);
$sky-gradient-19: linear-gradient(to top, #246fa8, #2c3e50);
$sky-gradient-20: linear-gradient(to bottom, #141e30, #243b55);
$sky-gradient-21: linear-gradient(to bottom, #141e30, #243b55);
$sky-gradient-22: linear-gradient(to top, #141e30 80%, #150800 100%);
$sky-gradient-23: linear-gradient(to top, #141e30 50%, #150800 100%);

// $sky-gradient-17: linear-gradient(to top, #246fa8 0%,#2c3e50 100%);
// $sky-gradient-18: linear-gradient(to top, #3498db, #2c3e50);
// $sky-gradient-19: linear-gradient(to bottom, #243b55 100%,#2c3e50 60%);
// $sky-gradient-13: linear-gradient(to top, #38a3d1 0%,#246fa8 100%);
// $sky-gradient-14: linear-gradient(to top, #246fa8 0%,#246fa8 100%);
// $sky-gradient-16: linear-gradient(to top, #57c1eb 0%,#246fa8 100%);
// $sky-gradient-15: linear-gradient(to top, #57c1eb 0%,#246fa8 35%);
// $sky-gradient-14: linear-gradient(to top, #2d91c2 30%,#1e528e 100%);
// $sky-gradient-15: linear-gradient(to top, #2473ab 0%,#1e528e 70%,#5b7983 100%);
// $sky-gradient-16: linear-gradient(to top, #1e528e 0%,#265889 50%,#9da671 100%);
// $sky-gradient-17: linear-gradient(to top, #1e528e 0%,#728a7c 50%,#e9ce5d 100%);

// $testgradient: linear-gradient(to top, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// $test2: linear-gradient(to top, #2c3e50, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// $rainy: linear-gradient(to top, #536976, #292e49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// $test3: linear-gradient(to top, #2c3e50 60%, #243b55 100%);
