$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

/* Gradients */
$sky-gradient-00: #00000c;
$sky-gradient-01: linear-gradient(to top, #020111 85%, #191621 100%);
$sky-gradient-02: linear-gradient(to top, #020111 60%, #20202c 100%);
$sky-gradient-03: linear-gradient(to top, #020111 10%, #3a3a52 100%);
$sky-gradient-04: linear-gradient(to top, #20202c 0%, #515175 100%);
$sky-gradient-05: linear-gradient(
  to top,
  #40405c 0%,
  #6f71aa 80%,
  #767bab 100%
);
$sky-gradient-06: linear-gradient(
  to top,
  #4a4969 0%,
  #7072ab 50%,
  #82b8cd 100%
);
$sky-gradient-07: linear-gradient(to top, #7072ab 0%, #82b8cd 100%);
$sky-gradient-08: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
$sky-gradient-09: linear-gradient(to bottom, #90dffe 0%, #38a3d1 80%);
$sky-gradient-10: linear-gradient(to bottom, #90dffe 0%, #38a3d1 60%);
$sky-gradient-11: linear-gradient(to bottom, #90dffe 0%, #38a3d1 40%);
$sky-gradient-12: linear-gradient(to top, #90dffe 0%, #38a3d1 0%);
$sky-gradient-15: linear-gradient(to top, #38a3d1 70%, #246fa8 100%);
$sky-gradient-16: linear-gradient(to top, #38a3d1 40%, #246fa8 100%);
$sky-gradient-17: linear-gradient(to top, #38a3d1 20%, #246fa8 100%);
$sky-gradient-18: linear-gradient(to top, #38a3d1 0%, #246fa8 50%);
$sky-gradient-19: linear-gradient(to top, #246fa8, #2c3e50);
$sky-gradient-20: linear-gradient(to bottom, #141e30, #243b55);
$sky-gradient-22: linear-gradient(to top, #141e30 80%, #150800 100%);
$sky-gradient-23: linear-gradient(to top, #141e30 50%, #150800 100%);
