$border: 0px solid red;
@mixin border($color) {
  border: 0px solid $color
}

.body-cont {
  height: 1100px;

  &__maintext {
    color: white;
    opacity: 0.7;
    border: $border;
    width: 300px;
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;

    &__title {
      margin: 30px auto;
      font-size: 38px;
      font-weight: 500;
      line-height: 40px;
      margin-left: -20px;
      margin-bottom: 10px;
    }
    &__desc {
      border: $border;
      font-size: 20px;
      font-weight: 400;
      line-height: 21px;
      text-align: justify;
    }
  }
}

@media screen and (min-width: 768px) {

.body-cont{
  @include border(red);
  display: flex;
  justify-content: space-around;
  height: 600px;

  &__maintext{
    @include border(green);
    height: 300px;
    width: 400px;
    margin: 0;
    &__title{
      @include border(black);
      margin-left: -10px;
      font-size: 50px;
     
    }
    &__desc{
      @include border(yellow);
      margin-left: 10px;
      font-size: 25px;

    }
  }
  &__card{
    @include border(white);
    width: 600px;
    .weather{
      display: flex;
    }
  }
}
}
