@import '../../SassVariables/variables';
@import '../../SassVariables/mixins';

.weather-card {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 0px auto;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.37);
  overflow: hidden;
  color: whitesmoke;
  @include weatherCardBg();
  &__sun {
    height: 120px;
    width: auto;
    position: absolute;
    margin-left: 166px;
  }
  &__moon {
    position: absolute;
    display: none;
    height: 100px;
    margin-top: 15px;
    margin-left: 195px;
  }
  &__cloud {
    height: 100px;
    width: auto;
    animation: cloudeMove 35s linear infinite;
    margin-top: 120px;
  }

  .weather-card-header {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    margin: 20px 45px;
    text-align: center;
    &__temperature {
      font-size: 55px;
      height: 65px;
    }
    &__location {
      text-transform: capitalize;
      font-size: 20px;
    }
  }

  .weather-card-hourly {
    height: 90px;
    text-align: center;
    &::-webkit-scrollbar {
      display: none;
    }
    overflow: auto;
    &__img {
      height: 35px;
    }
    &__degree {
      &__data {
        padding-left: 7px;
        text-align: center;
      }
    }
  }

  .weather-card-daily {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    table,
    th,
    td {
      padding: 4px 30px;
      text-align: justify;
    }

    table {
      border: 0;
    }
  }
}
.weather-card-hide {
  display: none;
}
@keyframes cloudeMove {
  0% {
    margin-left: -300px;
    opacity: 1;
  }
  100% {
    margin-left: 350px;
    opacity: 0;
  }
}
