$primary: #38a3d1;
$secondary: #90dffe;
$border: 0px solid red;

.flexer {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  border: $border;
}

.submit {
  position: inherit;
  text-align: center;
  cursor: pointer;
  color: $primary;
  font-size: 25px;
  border: $border;
}
.form__group {
  border: $border;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.form__field { border: $border;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $primary;
  outline: 0;
  font-size: 20px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-transform: capitalize;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 20px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  border: $border;
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: $primary;
}

@media screen and (min-width: 768px) {

}
