.body-cont {
  height: auto;
  &__maintext {
    color: white;
    opacity: 0.7;
    width: 300px;
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;
    &__arrow {
      display: none;
    }
    &__title {
      margin: 30px auto;
      font-size: 38px;
      font-weight: 500;
      line-height: 40px;
      margin-left: -20px;
      margin-bottom: 10px;
    }
    &__desc {
      font-size: 20px;
      font-weight: 400;
      line-height: 21px;
      text-align: justify;
    }
  }

  .weather-card {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .body-cont {
    display: flex;
    justify-content: space-evenly;
    height: auto;

    &__maintext {
      height: 300px;
      width: 400px;
      margin: 0;
     
      &__title {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        font-size: 50px;
      }
      &__desc {
        margin-top: 30px;
        margin-left: 10px;
        font-size: 25px;
      }
      &__arrow {
        display: none;
        margin-top: -55px;
        margin-right: -135px;
        transform: rotate(50deg);
        width: 350px;
      }
    }
    &__card {
      width: 350px;
      .weather {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
