@import '../../../SassVariables/mixins';
.body-cont {
  height: auto;
  @include adjust-to(handhelds) {
    display: flex;
    justify-content: space-evenly;
  }
  &__maintext {
    color: white;
    opacity: 0.7;
    width: 300px;
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;
    @include adjust-to(handhelds) {
      height: 300px;
      width: 400px;
      margin: 0;
    }
    &__title {
      margin: 30px auto;
      font-size: 38px;
      font-weight: 500;
      line-height: 40px;
      margin-left: -20px;
      margin-bottom: 10px;
      @include adjust-to(handhelds) {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        font-size: 50px;
      }
    }
    &__desc {
      font-size: 20px;
      font-weight: 400;
      line-height: 21px;
      text-align: justify;
      @include adjust-to(handhelds) {
        margin-top: 30px;
        margin-left: 10px;
        font-size: 25px;
      }
    }
  }
  &__card {
    width: auto;
    @include adjust-to(handhelds) {
      width: 350px;
      .weather {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .weather-card {
    margin-top: 20px;
  }
}
