@import '../../../SassVariables/variables';

.weatherCard_cont {
  border: $border;
  height: 350px;
  width: auto;
  h2,
  h3 {
    text-align: center;
    @include margpad(10px, 0px);
  }
  table {
    width: 100%;
    td {
      padding: 10px 0;
      text-align: center;
    }
  }
}
